<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DB" connectionString="Data Source=.\Database\FaceitFinderDb.db; 	" providerName="System.Data.SqlClient"/>
	
	</connectionStrings>
	<appSettings>
		<add key="BaseAddress" value="https://open.faceit.com/data/v4/"/>
		<add key="ApiKey" value="2f40b554-eb74-4880-ba03-6f58e6fab778"/>
		<add key="GetAllUsers" value="Select Id,Nickname,Email,Password,Avatar,PlayerId from Users  "/>
		<add key="InsertIntoUsers" value="Insert into Users (Nickname,Email,Password,Avatar,Playerid) values (@Nickname,@Email,@Password,@Avatar,@Playerid)"/>
		<add key="InsertIntoFaceitStats" value="Insert into FaceitPlayers(Playerid,FavoriteMapId,GameId,FavoriteMapImg,AverageHeadshots,Kd,LongestWinStreak,Matches,Wr,Wins) values (@Playerid,@FavoriteMapId,@GameId,@FavoriteMapImg,@AverageHeadshots,@Kd,@LongestWinStreak,@Matches,@Wr,@Wins)"/>
	</appSettings>
</configuration>